<div class="section">
  <h2>COMPÉTENCES</h2>
  <ul class="skills">
    <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Angular &#124; Typescript</strong></li>
    <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Bootstrap</strong></li>
    <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>HTML5 &#124; CSS3 &#124;</strong></li>
    <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Javascript</strong></li>
    <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>PHP</strong></li>
    <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>MySQL</strong></li>
    <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong> Git&#124; Github</strong></li>
  </ul>


